@charset "utf-8";

.acomImg
{
	display: inline-block;
	overflow-y: hidden;
	width: 25%;
	height: 300px;
	overflow-x: hidden;
}

.acomAnimImg
{
	transition: margin 0.5s linear;
}

.acomAnimImg:hover
{
	margin-top: -50px;
	opacity: 0.8;
}

.ImgScale
{
	width: 550px;
	height: 350px;
	margin-left: -100px;
}

.acom_slider
{
	margin-left: 15%;
	width: 70%;
	margin-top: 30px;

	
}
